@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 0 20px 0;
  font-family: "Tilt Neon", sans-serif;
  background-color: rgb(255, 255, 255);
}
